.nav{
    /* background-color: #333; */
    background: linear-gradient(to right, #086375,#78c3fb);
    font-family: monospace;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    opacity: 0.7;
    margin: auto;
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

li {
  float: left;
}
;
  }
  
  li {
    float: left;
  }
  

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }